@font-face {
    font-family:sun ;
    src: url(./NeueHaasDisplay-Mediu.ttf);
}
@font-face {
    font-family:a ;
    src: url(./NeueHaasDisplay-Roman.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #EFEAE3;
}
.menu{

   padding: 3vw;
   padding-left: 4vw;
   border: 1px solid rgb(150, 143, 143);
   font-size: 3.4vw;
   border-radius: 30px;
   font-family: a;
   display: none;
   position: relative;
   z-index: 100;
   cursor: pointer;
}
.mediasc .dabba{
   height: 50vh;
   width: 100%;
   background-color: white;
   /* position: absolute;
   top: 0; */
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-end;
   padding: 6vh

   

}
.dabba h1{
   width: 100%;
   text-align: right;
   font-size: 6.5vh;
   font-family: sun;
   margin: 1.2vw;
   border-bottom: 1px solid rgba(0, 0, 0, 0.236);
   display: block;
}
.mediasc{
   height: 100vh;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.489);
   position: absolute;
   top:  -100%;
   z-index: 99;


}
.menu:hover .mediasc{
   top: 0;
}

 
 .page1{
    padding:2vw 2vw;
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    position: relative;
 }
 .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
 }
 .nav img{
    height: 8vh;
    width: 15%;
 }
 .nav2{
    /* background-color: pink; */
    gap: 3vw;
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
 }
 .nav2 h4{
    padding: 1vw 2vw;
    border: 2px solid rgba(0, 0, 0, 0.216);
    border-radius: 50px;
    font-size: 1.1vw;
    font-family: a;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;

 }
.nav2 h4::after{
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: black ;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}
.nav2 h4:hover::after{
 bottom: 0%;
 border-radius: 0;
 color: white;
}
 .nav2 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 99;
    transition: all ease-in 0.3s;
 }
 .nav2 h4:hover a{
    color: white;
 }
 .hero-section{
    width: 100%;
    height: 80vh;
    /* background: darkblue; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid #dddddd;
 }
 .hero1{
    font-size: 2vw;
    font-family: sun;
    margin-bottom: 2vw;
    margin-left: 1.4vw;
 }
 .hero2{
    font-size: 9.5vw;
    font-family: sun;
    line-height: 8vw;
    margin-bottom: 2vw;
    text-align: right;
 }
 .gola{
    height: 23vw;
    width: 30vw;
    /* background-color: orangered; */
    position: absolute;
    top: 90vh;
    right: 0;
    animation: anime4  2s   infinite alternate ;
    border-radius: 50%;
    background:linear-gradient(rgb(236, 140, 5),orangered);
    filter: blur(20px);
 }
 .gola1{
    height: 30vw;
    width: 30vw;
    /* background-color: rgb(26, 16, 131); */
    position: absolute;
    border-radius: 50%;
    animation-name: anime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
     animation-direction: alternate;
     background:linear-gradient(rgb(236, 140, 5),orangered);
     filter: blur(20px);
    /* top: 90vh;
    right: 0; */
 }
 .gola2{
    height: 30vw;
    width: 30vw;
    /* background-color: rgb(2, 166, 27); */
    position: absolute;
    border-radius: 50%;
    animation-name: anime2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background:linear-gradient(rgb(236, 140, 5),orangered);
    filter: blur(20px);

    /* top: 90vh;
    right: 0; */
 }
 .gola3{
    height: 30vw;
    width: 30vw;
    background:linear-gradient(rgb(236, 140, 5),orangered);
    filter: blur(20px);
    position: absolute;
    border-radius: 50%;
    animation-name: anime3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    /* top: 90vh;
    right: 0; */
 }
 @keyframes anime1 {
    from{
        transform: translate(50%,10%);
    }to{
transform: translate(-10%,-10%);
    }
    
 }
 @keyframes anime2 {
    from{
        transform: translate(-10%,10%);
    }to{
transform: translate(60%,-10%);
    }
    
 }
 @keyframes anime3 {
    from{
        transform: translate(-50%,-10%);
    }to{
transform: translate(-20%,60%);
    }
    
 }
 @keyframes anime4 {
    from{
        transform: rotate(0deg);
    }to{
transform: rotate(10deg);
    }
    
 }

 .page1 video{
    width: 100%;
   position: relative;
    z-index: 10;
    margin-top: 2vw;
    border-radius: 20px;
     
 }

 .page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3; 
    padding: 8vw 0;
    position: relative;

 }
 .moving-text{
    white-space: nowrap;
  overflow-x: auto;  /* only div scroll hoga */
 }
 .moving-text::-webkit-scrollbar{
    display: none;
 }
 .con{
    white-space: nowrap;/* sare children ek hi line me aa jayenge && give property display inline block to the child*/
 display: inline-block;
 animation-name: move;
 animation-duration: 10s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}
 .moving-text h1{
    font-size: 9vw;
    display: inline-block;
    font-family: sun;
 }
  .point{
    height: 5vw;
    width:5vw;
    background: orangered;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;
  }
  @keyframes move {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-100%);
    }
  }


  .page2-bottom{
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  .page2-bottom h1{
   /* background-color: #fff; */
   font-size: 3.3vw;
   font-family: sun;
   margin-left: 5vw;
   margin-top: 5vw;
   position: relative;
   z-index: 99;

  }
  .page2 .golo{
   height: 30vw;
   width: 30vw;
   background:linear-gradient(rgb(236, 140, 5),#ED462F) ;
   position: absolute;
   top: 50%;
   left: 25%;
   border-radius: 50%;
   animation: golo 3s linear   infinite  alternate ;
    filter: blur(20px);
   

  }
  @keyframes golo {
   from{
      transform: translate(10%,-10%) skew(0);
   }to{
      transform: translate(-10%,10%) skew(-13deg);
   }
  }
  .page2-bottom img{
    height: 20vh;
    width: 20vw;
    border-radius: 18px;
  }
  .col2{
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 2vw;
  }
  .col2 p{
    font-family: a;
    font-size: 1.3vw;
  }

  .page3{
   min-height: 100vh;
   width: 100%;

  }
  .elem{
   height: 10vh;
   width: 100%;
   /* background-color: red; */
   display: flex;
   align-items: center;
   padding: 3vw 2vw;
   border-bottom:1px solid rgb(90, 84, 84);
   position: relative;
   overflow: hidden;
  }
  .elem h1{
   font-size: 3vw;
   font-family: sun;
   position: absolute;
  }
   
  
 .elem .box{
   height:100%;
   width: 100%;
   background-color: #F39731;
   position: absolute;
   top: -100%;
   left: 0;
   transition: all 0.3s ease-in-out;
  }
.elem:hover .box{
   top: 0;
}
.fixed-box{
   height: 45vh;
   width: 25vw;
   border-radius: 20px;
   /* background-color: red; */
   position: fixed;
   top: 25%;
   left: 50%;
   z-index: 99;
   display: none;
   background-size: cover;
   background-position: center;
   transition: all ease 0.2s;
}






/* MEDIA QUERY */




@media (max-width:600px) {
   .page1{
      padding:5vw 5vw;
       
   }
   .nav{
      margin-top: 10vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
    
   }
   .nav img{
      scale: 2.5;
      margin-left:10vw;
      
   }
   .nav2{
      
      display: none;
      
   }
   .menu{
      display: block;
   }
   .hero-section{
      width: 100%;
      height: 50vh;
      /* background: darkblue; */
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 4vh;
      
      
   }
   .hero1{
      font-size: 5vw;
      width: 100%;
      display: flex;
      justify-content: flex-start;

   }
   .hero2{
      font-size: 14vw;
      
      line-height: 12vw;
       
      
   }
    
      
}